<h1>Welcome! <%= @user.name %> </h1>

<ul>
  <li>List position <%= @user.position %></li>
  <li>List teams with links <%= @user.team.name %></li>
  <li>List personal lists </li>
  <% @user.lists.each do |list| %>
  <%= link_to list.name, user_list_path(@user, list) %>
  <% end %>
</ul>


 <%= link_to "Log Out", signout_path, method: :delete %>
